In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [14]:
for dirname, _, filenames in os.walk('/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text/train_prompts.csv
/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text/test_essays.csv
/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text/train_essays.csv
/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text/sample_submission.csv

In [15]:
train_essays = pd.read_csv("/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text/train_essays.csv")
train_essays.head()

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0
2,008f63e3,0,"""America's love affair with it's vehicles seem...",0
3,00940276,0,How often do you ride in a car? Do you drive a...,0
4,00c39458,0,Cars are a wonderful thing. They are perhaps o...,0

In [16]:
test_essays = pd.read_csv("/Users/liamoreilly/Desktop/AI-detection/llm-detect-ai-generated-text/test_essays.csv")
test_essays.head()

         id  prompt_id          text
0  0000aaaa          2  Aaa bbb ccc.
1  1111bbbb          3  Bbb ccc ddd.
2  2222cccc          4  CCC ddd eee.

In [21]:
train_essays[train_essays["generated"] == 1]

,id,prompt_id,text,generated
704,82131f68,1,"This essay will analyze, discuss and prove one...",1
740,86fe4f18,1,I strongly believe that the Electoral College ...,1
1262,eafb8a56,0,"Limiting car use causes pollution, increases c...",1

In [ ]:
vectorizer = TfidfVectorizer(max_features=10000)
X_train = vectorizer.fit_transform(train_df["essay"])
X_valid = vectorizer.transform(valid_df["essay"])
X_test = vectorizer.transform(test_df["essay"])

y_train = train_df["label"]
y_valid = valid_df["label"]
y_test = test_df["label"]